html body {
	font-family: "Poppins", sans-serif;
	padding: 30px;
	height: 100vh;
}

:root {
	--default-black-color: #222222;
	--blue-gradient: linear-gradient(to bottom right, #42abf1, #0a5ebe);
}

button:focus {
	outline: none;
	border: none;
}

.container-fluid {
	height: 100%;
	display: flex;
	box-shadow: 3px 3px 15px #cccccc;
	border-radius: 5px;
	padding: 0;
	transition: 0.2s ease-in;
}

.container-fluid .left {
	width: 70%;
	background-color: white;
	padding: 25px 30px;
	transition: 0.2s ease-in;
}

.container-fluid .left h1 {
	color: var(--default-black-color);
	font-weight: 600;
	font-size: 24px;
	position: relative;
	margin-bottom: 40px;
}

.container-fluid .left h1::after {
	content: "";
	position: absolute;
	margin: auto;
	bottom: -20px;
	left: 0;
	right: 0;
	width: 20%;
	height: 2px;
	background: var(--blue-gradient);
}

.container-fluid .right {
	width: 30%;
	background: var(--blue-gradient);
	padding: 20px;
	transition: 0.2s ease-in;
	overflow: auto;
}

.container-fluid .right .siswa-pada-kelas {
	background-color: white;
	height: 45px;
	display: grid;
	place-content: center;
	margin-bottom: 30px;
	font-weight: 600;
	border-radius: 7px;
	box-shadow: 1px 1px 5px #3b3b3b7c;
	text-transform: uppercase;
}
.container-fluid .right button span {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
	display: grid;
	place-content: center;
	background-color: #383838;
	font-weight: 500;
	color: white;
	border-radius: 7px;
}

.container-fluid .right button.siswa {
	position: relative;
	width: 100%;
	height: 40px;
	border: none;
	margin-bottom: 6px;
	padding: 2px;
	font-weight: 500;
	background-color: white;
	color: var(--default-black-color);
	letter-spacing: 1px;
	border-radius: 7px;
	overflow: hidden;
	text-transform: uppercase;
	box-shadow: 1px 1px 5px #3b3b3b7c;
	text-align: left;
	padding-left: 50px;
}

.container-fluid .nama-kelas {
	display: flex;
	flex-wrap: wrap;
}

button.tambah-siswa,
button.kelas-siswa {
	background: var(--blue-gradient);
	width: 120px;
	height: 120px;
	margin: 10px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	color: whitesmoke;
	border: none;
	text-transform: uppercase;
	border: none;
	box-shadow: 1px 1px 5px #3b3b3b7c;
	transition: 0.1s ease-in;
}

button.tambah-siswa:hover,
button.kelas-siswa:hover {
	transform: scale(0.98);
}
button.kelas-siswa:active {
	transform: scale(0.99);
	border: 2px solid whitesmoke;
}
button.kelas-siswa.active {
	transform: scale(0.99);
	border: 2px solid whitesmoke;
}

.modal .modal-body {
	display: flex;
	flex-direction: column;
}

.modal .modal-body label {
	width: 20%;
}

.modal .modal-body input {
	width: 80%;
}
.modal .modal-footer button#btn-tambah {
	background: var(--blue-gradient);
}
.alert {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	top: -10%;
	display: grid;
	place-items: center;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.alert.active {
	top: 40px;
}
.alert p {
	margin: 10px 0;
	text-align: center;
}

/*? BREAKPOINT */

/*? 733PX */
@media screen and (max-width: 1100px) {
	.container-fluid .right {
		width: 40%;
	}
}
@media screen and (max-width: 897px) {
	button.tambah-siswa,
	button.kelas-siswa {
		width: 100px;
		height: 100px;
		margin: 8px;
	}
	.container-fluid .right {
		width: 50%;
	}
	.container-fluid .right button span {
		font-size: 14px;
	}

	.container-fluid .right button.siswa {
		font-size: 14px;
	}
}
@media screen and (max-width: 810px) {
	.container-fluid {
		flex-direction: column;
	}
	.container-fluid .left,
	.container-fluid .right {
		width: 100%;
	}
	.container-fluid .right {
		height: 100%;
	}
	.container-fluid .right button span {
		font-size: 16px;
	}

	.container-fluid .right button.siswa {
		font-size: 16px;
	}
}
